<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= @unallocated_link.link_id %>
</p>

<p>
  <b>To user:</b>
  <%= @unallocated_link.to_user_id %>
</p>

<p>
  <b>From user:</b>
  <%= @unallocated_link.from_user_id %>
</p>


<%= link_to 'Edit', edit_unallocated_link_path(@unallocated_link) %> |
<%= link_to 'Back', unallocated_links_path %>
